@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
:root {
  --font-space: 'Space Mono';
  --font-lato: 'Lato', sans-serif;
  --background: #283618;
  --font-color: #171B0D;
  --primary-dark: #375C8A;
  --primary-light: #CEDFF3;
  --secondary-dark: #DDA15E;
  --secondary-light: #F7F8F2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #283618;
    --font-color: #171B0D;
    --primary-dark: #375C8A;
    --primary-light: #BDD4EF;
    --secondary-dark: #DDA15E;
    --secondary-light: #F7F8F2;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: scroll;
}

body {
  color: var(--font-color);
  font-family: var('--font-lato');
  background: var(--secondary-light);
  min-height: 100vh;
}

#__next {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
}

p {
  margin-bottom: 1rem;
  font-family: var(--font-lato);
  font-size: clamp(1rem, 2.5vw, 1.25rem); 
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: clamp(1rem, 2.5vw, 3rem);
}

h1 {
  margin: 0.5rem;
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: var(--font-space);
}

h2 {
  margin: 0 0 .5rem 0;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  font-family: var(--font-space);
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 1rem;
  font-family: var(--font-lato);
  font-size: clamp(1.5rem, 0.8846rem + 0.4923vw, 1.5rem);
}

@media (min-width: 600px) {
  li {
    margin: 2rem;
  }
}

span {
  display: block;
  margin: 0 0 1rem .5rem;
  font-family: var(--font-space);
  font-size: clamp(1rem, 3vw, 2rem); 
}

@media (min-width: 600px) {
  iframe {
    width: 560px;
    height: 315px;
  }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
