.siteLayoutContainer {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: auto;
}
@media (min-width: 900px) {
  .siteLayoutContainer {
    height: 100vh;
  }
}

.welcome {
  width: 100%;
  height: 100%;
  padding: 0 6rem;
  display: grid;
  place-content: center;
  color: var(--font-dark);
  background: linear-gradient(0deg, rgba(247, 248, 242,0.55) 66%, rgba(247, 248, 242,0.65) 100%), url('../assets/desert-landing.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.cardsContainer {
  height: 100%;
  min-height:fit-content;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 900px) {
  .cardsContainer {
    flex-direction: row;
  }
}

.cardDark {
  margin: 0.5rem;
  padding: 2rem;
  background: var(--primary-dark);
  color: var(--secondary-light);
  min-width: 45%;
  min-height: 60vh;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.cardDark::-webkit-scrollbar {
  display: none;
}

@media (min-width: 900px) {
  .cardDark {
    min-width: 45%;
  }
  .desktopImages {
    width: 400px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .cardDark {
    min-width: 45%;
  }
  .desktopImages {
    width: 500px;
    height: auto;
  }
}

.desktopImages {
  margin: 1.5rem 0;
}

.mobileImages {
  margin: 1.5rem;
}
