.siteLayoutContainer {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: auto;
  overflow: hidden;
}

@media (min-width: 600px) {
  .siteLayoutContainer {
    height: 100vh;
  }
}

.navigation {
  width: 100%;
  padding: .5rem;
  display: flex;
  justify-content: space-around;
  background: var(--secondary-light);
}

@media (min-width: 600px) {
  .navigation {
    padding: 1rem;
    box-shadow:0px -3px  5px rgba(31, 73, 125, 0.8),0px 3px  5px  rgba(31, 73, 125, 0.8);
  -moz-box-shadow:0px -3px  5px rgba(31, 73, 125, 0.8),0px 3px  5px  rgba(31, 73, 125, 0.8);
  -webkit-box-shadow:0px -3px  5px rgba(31, 73, 125, 0.8),0px 3px  5px  rgba(31, 73, 125, 0.8);
  -o-box-shadow:0px -3px  5px rgba(31, 73, 125, 0.8),0px 3px  5px  rgba(31, 73, 125, 0.8);
  }
}

.navigation a {
  font-size: clamp(1rem, 0.8846rem + 0.4923vw, 1.5rem); 
  border-bottom: 2px solid transparent;
}

.navigation a:hover {
  color: var(--secondary-dark);
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: var(--secondary-light);
}

.authorImage {
  border-radius: 50%;
  margin: 1rem;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.title div {
  padding: .5rem;
}

.welcome {
  width: 100%;
  height: 100%;
  padding: 0 6rem;
  display: grid;
  place-content: center;
  color: var(--font-dark);
  background: linear-gradient(0deg, rgba(254,250,224,0.55) 66%, rgba(254,250,224,0.65) 100%), url('../assets/desert-landing.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.cardsContainer {
  height: 100%;
  min-height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  padding: 0.5rem;
}

@media (min-width: 600px) {
  .cardsContainer {
    flex-direction: row;
  }
}

.cardLight {
  margin: 0.5rem;
  padding: 2rem;
  background: var(--primary-light);
  color: var(--background);
  min-width: 45%;
  min-height: 60vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
}

.cardDark {
  margin: 0.5rem;
  padding: 2rem;
  background: var(--primary-dark);
  color: var(--primary-light);
  min-width: 45%;
  min-height: 60vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
}

@media (min-width: 600px) {
  .cardLight {
    min-width: 45%;
    overflow: scroll;
  }
  .cardDark {
    min-width: 45%;
    overflow: scroll;
  }
  .desktopImages {
    width: 550px;
    height: auto;
  }
}

.desktopImages {
  margin: 1.5rem 0;
}

.mobileImages {
  margin: 1.5rem;
}

.contactContainer {
  height: 100%;
  min-width: 45%;
  padding: 1rem;
  margin: 0.5rem;
  background: var(--primary-dark);
  color: var(--primary-light);
}

@media (min-width: 600px) {
  .contactContainer {
    padding: 2rem;
  }
}

.contactHeader {
  margin: 3rem 0 5rem;
  text-align: center;
}

.contactListContainer {
  width: 100%;
  height: 100%;
  min-height: fit-content;
  display: flex;
  justify-content:space-around;
  padding: 2rem;
}

@media (min-width: 600px) {
  .contactListContainer {
    padding: 5rem;
  }
}

.icons {
  width: 20rem;
  height: 20rem;
}